body{
    width: 100%;
    height: 100vh;
    background-color: #eee;
}
.center{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    background: rgba(112, 110, 110,0.3);
    min-height: 700px;
    padding: 30px 30px;
}